<div>

<!-- SEARCH -->
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-2">
					<input type="search" placeholder="Search&hellip;" ng-model="productTitle" />
				</div>
			</div>
		</div>
		<!-- /SEARCH -->

		<!-- CATEGORIES -->
		<div class="row-group">
			<ul>
				<li ng-repeat="category in categories">
					<input type="checkbox" ng-click="categoryChange(category.category)">{{category.category}}
				</li>
			</ul>
		</div>
		<!-- /CATEGORIES -->

		<h1>Erotiske statuer eller ej..</h1>

	<table>
		<tr>Products</tr>
		<tr ng-repeat="product in products | filter:productTitle | filter:productFilter">
			<td><a ng-href="#/product/{{ product.id }}"> {{ product.title }} </a></td>
			<td> {{ product.price }} </td>
            <td> {{ product.category }} </td>
            <td><img src="img/{{ product.image }}"></td>
            <td>
            <form ng-submit="addToCart(product)">
            <input type="number" ng-model="quantity">
            <button class="btn btn-default" type="submit">Tilføj</button>
            </form>
            </td>
		</tr>
	</table>
</div>