<p>Checkout</p>

<form role="form" class="userForm" ng-submit="sendCust()">
  <div class="form-group">
    <label for="email">Email address:</label>
    <input type="text" name="email" class="form-control" id="email" ng-model="email">
  </div>
  <div class="form-group">
    <label for="name">Name:</label>
    <input type="text" name="name" class="form-control" id="name" ng-model="name">
  </div>
<!--   <div class="form-group">
    <label for="pwd">Password:</label>
    <input type="password" class="form-control" id="pwd">
  </div>
  <div class="checkbox">
    <label><input type="checkbox"> Newsletter</label>
  </div> -->
    <a href="#/order-confirm"><input type="button" class="btn btn-success" ng-click="confirmBuy()" value="Confirm Order"></a> 
    <button type="submit" class="btn btn-default" ng-href="#/">Continue shopping</button>
</form>


	<div class="table" ng-repeat="cartProduct in cartProducts">
      <p>Item: {{ cartProduct.product.title }}</p>
     	<p>Quantity: {{ cartProduct.quantity }}</p>
      <button ng-click="moreProd(cartProduct.product)" class="btn">+</button>
      <button ng-click="lessProd(cartProduct.product)" class="btn">-</button>
      <button ng-click="deleteProd(cartProduct.product)" class="btn">Delete</button>
    </div>


  

